# Python

# Arithmetic Operators

*  + Addition(+)
*  - Subtraction(-)
*   * Multiplication(*)
*   / Division
*   % Mod (the remainder after dividing)
*   ** Exponentiation (note that ^ does not do this operation, as you might have seen in other languages)
*   // Divides and rounds down to the nearest integer

In [2]:
##Exercise

print(3+5)
print(3//2)
print(4**2)
print(3%2)

8
1
16
1

In [3]:
print(9*7+5*7)

98

In [4]:
print(17*6)

102

In [5]:
rainfall=5e6
print(rainfall*0.10)

500000.0

In [7]:
reservoir_volume = 444500000.0
print(reservoir_volume * 0.05)

22225000.0

In [8]:
sum=(print(5*3))
sum

15

# Type of Operators
* Arithmatic           (+,-,*,/)
* Assignment           (+=,-=)
* Comparsion           (<,>,=,!)
* Logical              (and,or,not)
* Bitwise
* Identity
* Membership

In [1]:
##Arithmatic (+,-,*,/)

a=3
b=4
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a//b)
print(a**b)

7
-1
12
0.75
3
0
81

In [11]:
##Assignment (+=,-=)

a=10
#a=a+1
a+=1
print(a)

a=10
#a=a+1
a1=1
print(a)

a=10
#a=a+1
a-=1
print(a)

a=10
#a=a+1
a*=1
print(a)

a=10
#a=a+1
a%=1
print(a)

a=10
#a=a+1
a/=1
print(a)

a=10
#a=a+1
a//=1
print(a)

a=10
#a=a+1
a**=1
print(a)

11
10
9
10
0
10.0
10
10

In [16]:
#Comparsion (<,>,=,!)

a=10
b=12

if a<b:
    print("a is smaller than b")
else:
    print("b is greater than a")
    
if a>b:
    print("a is greater")
else:
    print("b is greater")
    
if a>=b:
    print("a is aleays greater")
else:
    print("otherwise b is greater")
if a<=b:
    print("a is smaller")
else:
    print("b is greater")
if a!=b:
    print("True")
else:
    print("False")

a is smaller than b
b is greater
otherwise b is greater
a is smaller
True

In [17]:
#Identity Operators( is, is not)

a=3
b=a

print(a is b)
print(a is not b)

True
False

In [24]:
#Membership operator  (in, not in)

a="apple"
print(a in "apple")
b=[1,2,3,4,]
print(3 in b)
print(5 in b)
print(5 not in b)

True
True
False
True

# Input from User

In [25]:
#using Interger values

a = int(input("Enter the first number : "))
b = int(input("Enter the second number : "))
c=a+b
print("Result : ",c)

Enter the first number : 2
Enter the second number : 2
Result :  4

In [26]:
#using float values

a = float(input("Enter the first number : "))
b = float(input("Enter the second number : "))
c=a+b
print("Result : ",c)

Enter the first number : 2.2
Enter the second number : 2
Result :  4.2

In [29]:
#without using anything by default uses String function

a = input("Enter the first number : ")
b = input("Enter the second number : ")
c=a*b
print("Result : ",c)

Enter the first number : 3w
Enter the second number :

TypeError: can't multiply sequence by non-int of type 'str'

# Keywords & Identifiers

* Keywords are the reserve words or pre-defined words.
* There are total 33 keyword.
* All keywords are in lower case expect True,False and None.

* Identifiers are same like class,function ,varaibles etc

* Rules of Identifiers
    * Can't start with digit
    * Can be of any length
    * Defined keywords can't be used
    * Special symbols not allowed
    * Can be a combination

# Valid and Invalid Identifiers

* for---Invalid beacuse its an pre-difened keyword
* 95W--Invalid ,becuase cant start with digit
* X_y==Valid   
* _ab== valid 
* 9_p==invalid ,cant start with digits

# Data Type and Type Casting

* Variables have values and values have data types

* ex:--a=5
  *  a==variable
  *  5=integer

* Different Data types
* Numeric
    * Complex number
    * float
    * integer
* Dictionary
* Boolean
* Set
* Sequence Type
    * string
    * list
    * tuple

* Data Types are :
    * Integer
    * FLoat
    * String

In [1]:
a=12
print(type(a))

<class 'int'>

In [2]:
a=12.22
print(type(a))

<class 'float'>

In [3]:
a="Sandeep"
print(type(a))

<class 'str'>

* Type Casting  -- Conversion of one data type to another data type

* there are two types of Type casting
    * Implicit
    * Explicit

* Implicit Type Casting --Type of conversation in which data type is converted automatically 
* Ex:-
    * a=123  --data type integer
    * b=12.3  --data type Float
    * c=a+b
    * answer:=145.3   data type FLoat

* Reason for getting answer in float in implicit function of data type

* Highest Rank

* Long Double
* DOuble
* float
* unsigned long int    ^
* long int             | 
* unsigned int         | 
* int                  | 
* char short int       |

* lower rank

* Explicit Type Conversation --- User has to do the data type conversation by himself

* syntax==required_datatype(expression)

* Ex:--
    * A="123456" ---datatype String
    * b=2          --datatype Integer
    * A=int(A)     conversion of datatype to integer

# String Function " "

* isallnum()              * will only return boolean 
* upper()
* lower ()
* count()
* endswith()              * will only return boolean 
* capatize ()
* find()

In [7]:
##isallnum()
     # to check does the string is AlphaNumerical
     # it shouldn't contains any spaces in between

##Example of isalnum()

my_str="My Name is Sandeep"
print(my_str.isalnum())

my_str="MyNameisSandeep30"
print(my_str.isalnum())

False
True

In [10]:
# EndsWith()

a="learning new python"
print(a.endswith("python"))
print(a.endswith("new"))

True
False

In [12]:
# Count Function

#Example
a="learning new python"
print(a.count("n"))

4

In [14]:
# Capitalize Function
    # it ll convert the first letter of the sentance as capital
    # it ll convert all the letters to lower casew apart from first letter

#Example
a="learning new python"
print(a.capitalize())

Learning new python

In [18]:
 # Find FUnction
    # it is used to find the index of the words in the sentance
    
   #example
a="learning new python"
print(a.find("n"))   
print(a.find("t")) 
print(a.find("m"))

4
15
-1

# List [ ]
* Sort
* Reverse
* Slicing
* Length
* Min and Max function
* Remove

In [21]:
a=["ab",1,2.4,4.6,"Sandeep"]   # list formate 
print(a)
print(a[1])    # indexing in List

['ab', 1, 2.4, 4.6, 'Sandeep']
1

In [22]:
#operation on list using Sort ()

a=[1,5,8,9,43,32,3,43,34,43,]
print(a)
a.sort()   # using sort function you can sort the numbers in asecending order
print(a)

[1, 5, 8, 9, 43, 32, 3, 43, 34, 43]
[1, 3, 5, 8, 9, 32, 34, 43, 43, 43]

In [25]:
# Operation on list using Reverse()

a.reverse()
print(a)

[1, 3, 5, 8, 9, 32, 34, 43, 43, 43]

In [26]:
# Slicing on List

print(a[1:4])

[3, 5, 8]

In [27]:
# Length of list

print(len(a))

10

In [30]:
# Max used to find the maximum term in the list

print("Maximum Value in the list: ",max(a))

# Min used ti find the minum term in the list

print("Minumum value in list: ",min(a))

Maximum Value in the list:  43
Minumum value in list:  1

In [36]:
# Remove is use to remove from the list

a.remove(9)
print(a)

[1, 3, 5, 32, 34, 43, 43]

# Tuples ()
* Collection of values 
* Tuples are Immutable
* You cant perform action like remove,append

In [41]:
a=(1,2,"Sandeep","Khandelwal",[1,2,3,4])
print(a)
print(len(a))
print(a[0:3])
print(a.sort())   # erro:- 'tuple' object has no attribute 'sort'
print(a.remove(2))  # error:-'tuple' object has no attribute 'remove'

(1, 2, 'Sandeep', 'Khandelwal', [1, 2, 3, 4])
5
(1, 2, 'Sandeep')

AttributeError: 'tuple' object has no attribute 'remove'

# Dictionaries { }

* Collection of values which contains "Key : Value/Element" pairs
* It is mutable 
* Operation on Dic
    * Update
    * Delete
    * Adding
    * length

In [43]:
a={"A":"Sandeep","B":"Khandelwal","C":"Sunny","D":"Buliya"}
print(a)
print(type(a))

{'A': 'Sandeep', 'B': 'Khandelwal', 'C': 'Sunny', 'D': 'Buliya'}
<class 'dict'>

In [51]:
day={"One":"Monday","Two":"Tuesday","Three":{"A":"Wednesday","B":"Thursday"},"Four":"Friday","Five":"Saturday"}
print(day)
print(len(day))
print(day["Two"])
print(day["Three"]["A"])

#print(day.sort())   # error :-'dict' object has no attribute 'sort' ,becuase you can't do sorting in Dictionaries
#print(day.remove("Five")) # Error:-'dict' object has no attribute 'remove' .Becuase you can't use remove function in Dic

{'One': 'Monday', 'Two': 'Tuesday', 'Three': {'A': 'Wednesday', 'B': 'Thursday'}, 'Four': 'Friday', 'Five': 'Saturday'}
5
Tuesday
Wednesday

In [53]:
# Adding values in the Dictionaries

day["Six"]="Sunday"
print(day)

{'One': 'Monday', 'Two': 'Tuesday', 'Three': {'A': 'Wednesday', 'B': 'Thursday'}, 'Four': 'Friday', 'Five': 'Saturday', 'Six': 'Sunday'}

In [54]:
# Deleting Values in Dictionaries  using "del()"

print(day)
del(day["Six"])
print(day)

{'One': 'Monday', 'Two': 'Tuesday', 'Three': {'A': 'Wednesday', 'B': 'Thursday'}, 'Four': 'Friday', 'Five': 'Saturday', 'Six': 'Sunday'}
{'One': 'Monday', 'Two': 'Tuesday', 'Three': {'A': 'Wednesday', 'B': 'Thursday'}, 'Four': 'Friday', 'Five': 'Saturday'}

In [58]:
#Updating value sin Dictionaries using "Update ()"

day.update({"One":"Holiday"})
print(day)
day.update({"Two":"Working Day"})
print(day)

{'One': 'Holiday', 'Two': 'Tuesday', 'Three': {'A': 'Wednesday', 'B': 'Thursday'}, 'Four': 'Friday', 'Five': 'Saturday'}
{'One': 'Holiday', 'Two': 'Working Day', 'Three': {'A': 'Wednesday', 'B': 'Thursday'}, 'Four': 'Friday', 'Five': 'Saturday'}

In [59]:
# Keys & Values
print(day.keys())
print(day.values())

dict_keys(['One', 'Two', 'Three', 'Four', 'Five'])
dict_values(['Holiday', 'Working Day', {'A': 'Wednesday', 'B': 'Thursday'}, 'Friday', 'Saturday'])

# Condition In Python

* If else
* if elif else

In [60]:
# IF Else condition

#Comparing two condition using "If -Else" condition
#this is used for only two condition

a=int(input("Enter the first number: "))
b=int(input("Enter the second number"))
if a<b:
    print("B is greater than A")
else:
    print("A is greater than B")

Enter the first number: 2
Enter the second number4
B is greater than A

In [61]:
# If Elif Else Condition

#comparing more than two condition using "If Elif Else" condition

a=int(input("Enter the first number: "))
b=int(input("Enter the second number"))
if a<b:
    print("B is greater than A")
elif a==b:
    print("Bothe have the Same value")
else:
    print("A is greater than B")

Enter the first number: 12
Enter the second number12
Bothe have the Same value

In [66]:
#
a=int(input("Enter the Number: "))
b=int(input("Enter thr number: "))
c=int(input("Enter the number: "))
if a>b and a>c:
    print("A is gretaer than A & B")
elif a<b and b>c:
    print("B is greater than C & A")
elif a==b==c:
    print("All have equal values")
else:
    print("C is greater than B & A")

Enter the Number: 20
Enter thr number: 20
Enter the number: 20
All have equal values

# For Loop
* Syntax for For Loop is  " for i in range (): "
* for loop is been used when we want to acess many elements from list,dic i.e when we want something to repeat
* While loop has been used when we want to print a number upto a particular number or condition.

In [67]:
i=0
for i in range(5):
    print(i)

0
1
2
3
4

In [84]:
i=1
a=2
for i in range(11):
    print(a,"X",i,"=",i*a)

2 X 0 = 0
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [92]:
print("Muliplication Table")
for i in range(1,10):
    for j in range(1,11):
        print(i,'x',j,'=',i*j) 
    print("==========")

Muliplication Table
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
==========
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
==========
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
==========
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
==========
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
==========
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
==========
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
==========
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
==========
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
==========

# While Loop

In [100]:
# while loop is only used when we had given a condition
a=20
while a<=30:
    print(a )
    a=a+1     #increment is very important in while loop otherwise code ll go into infinite loop

20
21
22
23
24
25
26
27
28
29
30

In [101]:
a=20
while a<30:
    a=a+1 
    print(a )
    #a=a+1

21
22
23
24
25
26
27
28
29
30

# Function and Docstrings

* FUnction
    * Built-in Function == Pre-defined,which are already defined in python
    * User-Defined Function =user make and defined as per the need and condition

In [104]:
# Example of Built-in Function

a=int(input(" Enter the number : "))
b=int(input("Enter the another number: "))
c=sum((a,b))  # sum is pre-defined or built-in function
print(c)

 Enter the number : 1
Enter the another number: 2
3

In [105]:
# USer-Defined function without parameter

def one():   # function declaration
    print("I am learning Python Priogramming")
one()   # function calling

I am learning Python Priogramming

In [109]:
# user-defined function with parameter

#here a,b are user deined parameter

def multiply(a,b):  # function declaration
    c=a*b
    print(c)
multiply(3,4)   # function calling

12

In [112]:
# calculate are of circle
def cricle():
    r=int(input("Enter the radius: "))
    A=3.14 * r * r
    print(A)
cricle()

Enter the radius: 4
50.24

In [115]:
# calculate are of triangle

def area_trinagle():
    l=int(input("Enter the lenght of triangle: "))
    b=int(input("Enter the breadth of trinagle: "))
    h=int(input("Enter the height of the traingle: "))
    Area=l * b * h
    print("Area of trainagle is : ",Area)
area_trinagle()

Enter the lenght of triangle: 3
Enter the breadth of trinagle: 5
Enter the height of the traingle: 7
Area of trainagle is :  105

# Doc String

In [118]:
def area_triangle():
    """ This programme computes Area of Triangle"""  # defining the doc string 
    l=int(input("Enter the lenght of triangle: "))
    b=int(input("Enter the breadth of trinagle: "))
    h=int(input("Enter the height of the traingle: "))
    Area=l * b * h
    print("Area of trainagle is : ",Area)
area_triangle() 
print(area_triangle.__doc__)    # this is the function is used to print the doc string from the code

Enter the lenght of triangle: 5
Enter the breadth of trinagle: 6
Enter the height of the traingle: 8
Area of trainagle is :  240
 This programme computes Area of Triangle

# F-Strings
* It is used when you want to print any value,string,character into your print statements.

In [120]:
#Example
a="Python Programme"
print(f"I am Learning {a}")   # f is defined as F-String

I am Learning Python Programme

# If __name__ =='__main__'